.container {
  background-color:red ;
}

.nav-bar {
  background-color: orange;

}

.game-panel {
  background-color:blue ;
}

.game-board {
  background-color: white;
}

.slammer-container {
  background-color: grey;
}

.pog {
  height: 5em;
  width: 5em;
  border-radius: 10em;
  background-color: green;
  margin: 0 auto;
}