<div class ="container">

  <div class="nav-bar">
    <h3 class="title"> Pog Party</h3>
    <nav class ="nav">
      <img class="toggle-button" src="http://i.imgur.com/K2lUwbo.png"/>
      <a href="#"> How it Works</a>
      <a href="#"> Inventory</a>
    </nav>
  </div>
  <div class="game-panel">
    <div class='game-container'>
      <div class="game-board" id=<%= @game_id %>>
        <div id='pog-stack'>
          <div class='pog' id='0'></div>
          <div class='pog' id='1'></div>
          <div class='pog' id='2'></div>
          <div class='pog' id='3'></div>
          <div class='pog' id='4'></div>
          <div class='pog' id='5'></div>
          <div class='pog' id='6'></div>
        </div>
        <div id='stack-counter'></div>

      </div>
      <div class="slammer-container">
        <p>Slammer Container</p>
        <div class='slammer'>
          <img src="http://bit.ly/KTxSe3"/>
        </div>

        <div class='slammer'>
          <img src="http://bit.ly/KTxSe3"/>
        </div>
      </div>
    </div>
  </div>
</div>
