<h1>Game Index</h1>
<%= button_to 'NEW GAME', games_path %>
<br><br>

<% @open_games.each do |game| %>
	Status: <%= game.status.upcase %>
	<br>
	Created At: <%= game.created_at.to_s %>
	<br>
	<button>JOIN GAME</button>
	<br><br>
<% end %>