.container {
}

.nav-bar {
  background-color: #FFFFFF;
  box-shadow: 0px 4px rgba(0,0,0,0.1);
}

a {
  color:grey;
  text-decoration: none ;
}

.title {
  color:#61e69d;
}

.game-panel {
  background-color: #D4BF97;
  opacity: 0.70;
}

.game-board {

}

.game-board-highlight{
  background-color: #ddd;
}

.game-board-hover{
  background-color: #bbb;
}

.slammer-container {
  font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
background-color: aliceblue;
box-shadow: 0 -1px 0 rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
}


.pog {
  height: 6em;
  width: 6em;
  top: 10em;
  border-radius: 10em;
  background-color: green;
  margin: 0 auto;
}

.slammer {
  display: inline-block;
  margin-left: 3%;
}

.slammer img{
  height: 150px;
  width: 150px;
  border-radius: 90%;
}

#stack-counter {
  height: 2em;
  width: 2em;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
/*
.face-down {
  background-color: green;
}*/

.face-up {
  background: blue;
}
